.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    height: 100vh;
  }

  li:hover {
    cursor: pointer;
  }
  
  ul{ list-style-type: none; }